
nav{
  margin: auto;
  margin-left: 900px;
  padding: 10px;
  border: 40px solid gold;}

h1{ color: rgb(81, 154, 203);
text-align: center;}
body{background-image: url(https://e-legal.az/uploads/6c66c1793b71fbe2b0d704057957db27.gif);
    background-repeat: no-repeat }
    div {
        background-color: rgb(211, 211, 211);
        width: 450px;
        border: 15px solid rgb(36, 95, 213);
        padding: 60px;
        margin-left: 600px;
        margin-bottom: 60px;
      }
      footer{
        border: 1px solid rgb(205, 243, 52);
       padding: 25px 50px 75px 100px;
      background-color: rgb(166, 240, 63);
      }